a {
  color: #dddddc;
  text-decoration: none;
}
body {
  background: #dddddc;
  font-family: arial-regular;
  font-size: 14px;
}
header {
  background: #30302f;
  color: #dddddc;
  font-family: arial-bold;
  padding: 0.1em;
}
header .titulo {
  font-size: 24px;
  text-align: center;
}
nav {
  background: #008000;
  color: #dddddc;
  font-family: arial-regular;
  font-size: 14px;
}
nav .menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}
nav .menu li {
  display: inline-block;
  padding: 0.5em;
}
nav .cerrar_sesion {
  display: inline-block;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  float: right;
}
nav .cerrar_sesion li {
  display: inline-block;
  padding: 0.5em;
}
.contenido {
  background: #00f;
}
footer {
  background: #30302f;
  color: #dddddc;
  font-family: arial-regular;
  font-size: 14px;
}
footer .redes_sociales {
  margin: 0;
  overflow-x: auto;
  padding: 0;
}
footer .redes_sociales li {
  float: right;
  display: inline-block;
  padding: 0.5em;
}
