gris_claro=#dddddc
gris_oscuro=#30302f

body
	background gris_claro
	font-family arial-regular
	font-size 14px
	
header
	background gris_oscuro
	color gris_claro
	font-family arial-bold
	padding 0.1em
	#titulo
		font-size 24px
		